.flexRowContent--header {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
}

.flexCol {
  position: center;
  /*background-color:black;*/
}

/* A COREBIZ */

.flexRow--aCorebiz {
  height: 50rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.flexRow--about {
  background-color: #000;
  width: 51rem;
  background-size: 62rem;
  background-repeat: no-repeat;
  padding: 5.5rem 0rem;
  height: 41rem;
  position: absolute;
  z-index: 1;
}

.flexRow--imageCorebiz {
  display: flex;
  background-image: url("https://www.corebiz.ag/wp-content/uploads/2020/06/about-intro-image.jpg");
  position: absolute;
  margin-left: 72%;
  margin-top: 0rem;
  width: 70%;
  height: 50rem;
  z-index: 2;
  left: -26rem;
  background-repeat: no-repeat;
}

/* === WHO WE ARE === */

.flexRow--whoWeAre {
  margin-top: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.flexColChild--containerCard {
  height: 10rem;
  display: flex;
  align-items: flex-end;
}

/* === VISION AND VALUES === */

.flexRow--visionAndValue {
  height: 50rem;
  margin-bottom: 50px;
}

.flexRow--vision {
  background-image: url(https://www.corebiz.ag/wp-content/uploads/2020/06/values-image.jpg);
  width: 51rem;
  background-size: 62rem;
  background-repeat: no-repeat;
  padding: 5.5rem 0rem;
  height: 41rem;
  position: absolute;
  z-index: 2;
}
.flexColChild--visionContainer {
  display: flex;
  flex-direction: row;
  margin-left: 0rem;
}
.flexRow--values {
  display: flex;
  background-color: rgb(245, 245, 245);
  position: absolute;
  margin-left: 57%;
  margin-top: 5.5rem;
  width: 72%;
  height: 40rem;
  z-index: 1;
  left: -26rem;
}
.flexCol--valuesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 0rem;
  margin-left: 25rem;
  padding: 7rem 7rem;
}

/* ==== WORLDWIDE ==== */
.flexRow--worldwide {
  background-image: url("https://www.corebiz.ag/wp-content/themes/corebiz-global/assets/images/worldwide.png");
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  height: 50rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  position: sta;
}
/* .flexRow-- { */
/* IMAGEM MAPA MUNDI */
/* position: relative;
  width: 100%;
  background: #f5f5f5;
} */

.flexRow--texto-worldwide {
  /* TEXTO COREBIZ WORLDWIDE */
  /* position: absolute; */
  top: 20%;
  left: 5%;
}

.flexRow--enderecos-paises {
  width: 80%;
  /* position: absolute; */
  top: 38%;
  left: 10%;
  height: 60%;
}

/* ==== FOOTER ==== */

/* === DESKTOP === */

.flexRow--white-block {
  /* FLEXROW CONTENDO A PARTE BRANCA E A IMAGEM DA LUMINARIA*/
  background: #f5f5f5;
  max-width: 99.8%;
}

.flexRow--escritorios {
  /* ENDERECOS ESCRITORIOS*/
  background: #000;
  padding-top: 6%;
  padding-bottom: 4%;
  position: absolute;
  width: 95%;
  bottom: 25%;
}

.flexCol--logo-footer {
  /* LOGO NO FOOTER */
  margin-top: 2.5%;
}

.flexRow--social-idioma {
  /* REDES SOCIAIS, IDIOMAS E DIREITOS AUTORAIS */

  background: #000;
  width: 95%;
  padding-top: 4%;
  padding-bottom: 1%;
}

.flexRow--idiomas {
  /* ROW COM O MENU DE IDIOMAS */
  padding-top: 2%;
}

.flexCol--social-seguir {
  /* ROW COM O TEXTO SIGA A GENTE */
  display: flex;
  align-items: center;
  padding-bottom: 2%;
}

.flexCol--idiomas-direitos {
  /* COL DO MENUS IDIOMAS E DIREITOS RESERVADOS */
  padding-left: 25%;
}

.flexCol--botao-topo {
  /* BOTAO PARA VOLTAR AO TOPO*/
  align-items: center;
} /* === MOBILE === */

.flexCol--image-footer-mobile {
  /* IMAGEM LUMINARIAS */
  padding-left: 55%;
}

.flexRow--white-block-mobile {
  /* FLEXROW CONTENDO A PARTE BRANCA E A IMAGEM DA LUMINARIA*/
  background: #000;
  width: 100%;
}

.flexRow--logo-footer-mobile {
  /* LOGO NO FOOTER */
  background: #000;
  padding-top: 6%;
  padding-bottom: 8%;
  position: absolute;
  width: 100%;
  top: 8%;
  padding-left: 40%;
}

.flexRow--escritorios-mobile {
  /* ENDERECOS ESCRITORIOS */
  background: #000;
  padding-top: 60px;
  padding-bottom: 20px;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.flexRow--escritorios-mobile2 {
  /* ENDERECOS ESCRITORIOS */
  background: #000;
  padding-bottom: 40px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

.flexRow--seguir-mobile {
  /* ROW COM O TEXTO SIGA A GENTE */
  display: flex;
  text-align: center;
  background: #000;
}

.flexRow--social-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  background: #000;
}

.flexRow--botao-topo-mobile {
  /* BOTAO PARA VOLTAR AO TOPO*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  background: #000;
}

.flexRow--idiomas-mobile {
  /* ROW COM O MENU DE IDIOMAS */
  display: flex;
  align-items: center;
  background: #000;
}

.flexRow--direitos-mobile {
  /* DIREITOS RESERVADOS */
  display: flex;
  text-align: center;
  padding-bottom: 5%;
  background: #000;
}

/* SESSION NUMBERS */

.flexRow--numbers {
  background-image: url("https://www.corebiz.ag/wp-content/themes/corebiz-global/assets/images/map-our-numbers.png");
  height: 50rem;
  background-repeat: no-repeat;
}

.flexRowContent--row-dados {
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  /* margin-top: 300px;
  position: absolute; */
}
